@use "../util/mixins.scss" as mix;
.content {
  &.crew {
    .title-img {
      h1 {
        margin-bottom: 7vw;
      }
      .header-slider {
        h2 {
          font-family: "Bellefair", serif;
          color: rgb(172, 142, 142);
          font-weight: lighter;
          padding: 0em;
        }
      }
      .img-mobile {
        display: none;
      }
      .slider {
        .content-slider {
          .mobile-slider-header {
            display: none;
          }
          h1 {
            font-family: "Bellefair", serif;
            margin: 0;
            padding: 0em;
            font-size: 3.1vw;
          }
          p {
            font-family: "Barlow", sans-serif;
            color: rgba(255, 255, 255, 0.707);
            line-height: 2;
            margin-bottom: 7vw;
          }
          .bullets {
            @include mix.displayFlex(row, center, flex-start);
            width: 100%;
            gap: 1em;
            button {
              width: 10px;
              height: 12px;
              border-radius: 150px;
              border: none;
              transition: 0.5s ease;
              cursor: pointer;
              background-color: rgb(169, 149, 149);
              &:hover {
                transform: scale(1.5);
              }
            }
            & .glide__bullet--active {
              transform: scale(1.2);
              background-color: rgb(255, 255, 255);
              border: none !important;
            }
          }
        }
      }
    }
  }
  &.crew .wrapper-slider {
    img {
      width: 100%;
      margin-bottom: -12vw;
      border-bottom: 1px solid gray;
    }
  }
}

@media (max-width: 768px) {
  .content {
    &.crew {
      .title-img {
        .header-slider {
          width: 100%;
          h2 {
            text-align: center;
          }
        }
        .slider {
          .content-slider {
            h1 {
              text-align: center;
              font-size: 7vw;
            }
            p {
              width: 70%;
              margin: auto;
              text-align: center;
              font-size: 2vw;
            }
            .bullets {
              padding-top: 2em;
              padding-bottom: 2em;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .content {
    &.crew {
      .title-img {
        .header-slider {
          display: none;
        }
        .img-mobile {
          @include mix.displayFlex(row, center, center);
          width: 90%;
          border-bottom: 1px solid gray;
          margin: auto;
          img {
            margin: auto;
            animation: none;
          }
        }
        .slider {
          .content-slider {
            @include mix.displayFlex(column, center, center);
            flex-flow: column-reverse;
            .mobile-slider-header {
              display: block;
              width: 100%;
              h2,
              h3 {
                font-family: "Bellefair", serif;
                padding: 0em;
                font-weight: lighter;
                text-align: center;
              }
              h2 {
                color: rgb(190, 163, 163);
                font-size: 4vw;
              }
              h3 {
                color: #fff;
                font-size: 7vw;
              }
            }
            h1 {
              display: none;
            }
            p {
              width: 100%;
              font-size: 4vw;
            }
          }
        }
      }
    }
    &.crew .wrapper-slider {
      display: none;
    }
  }
}
