@use "../util/mixins" as mixin;
.home {
  .title-home,
  .button-explore {
    width: 50%;
    min-height: 80vh;
  }
  .title-home {
    @include mixin.displayFlex(column, center, flex-end);
    h1,
    p {
      display: block;
      width: 50%;
      color: lavender;
    }
    h1 {
      .title {
        display: block;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: lighter;
        font-size: 1.7vw;
        -webkit-text-stroke: black;
        color: rgba(255, 255, 255, 0.905);
      }
      .subtitle {
        display: block;
        font-family: "Bellefair", serif;
        font-weight: lighter;
        font-size: clamp(1.5rem, 6vw, 6rem);
        color: #fff;
      }
    }
    p {
      margin-bottom: 15%;
      font-family: "Barlow", sans-serif;
      font-weight: lighter;
      font-size: 1vw;
      color: rgba(230, 230, 250, 0.898);
      line-height: 1.8;
    }
  }
  .button-explore {
    position: relative;
    .btn {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 20%;
      right: 30%;
      width: 15vw;
      height: 15vw;
      background-color: #fff;
      padding: 2em;
      border-radius: 100%;
      cursor: pointer;
      transition: 0.5s;
      span {
        display: block1;
        width: 100%;
        font-family: "Bellefair", serif;
        font-size: 1.5vw;
        text-align: center;
        color: #000;
      }
      &:hover {
        transform: scale(1.25);
        box-shadow: 0px 0px 15px rgb(255, 255, 255);
      }
    }
  }
}

// TABLET 768x1024

@media (max-width: 768px) {
  .home {
    .title-home,
    .button-explore {
      width: 100%;
      min-height: initial;
    }
    .title-home {
      margin-top: 3em;
      h1,
      p {
        text-align: center;
      }
      h1 {
        .title {
          font-size: 2.5vw;
        }
        .subtitle {
          font-size: 18vw;
        }
      }
      p {
        width: 60%;
        font-size: 2.5vw;
      }
    }
    .button-explore {
      @include mixin.displayFlex(row, center, center);
      position: inherit;
      .btn {
        position: inherit;
        width: 25vw;
        height: 25vw;
        span {
          font-size: 4vw;
        }
      }
    }
  }
}

// MOBILE 450px

@media (max-width: 450px) {
  .home {
    .title-home {
      h1 {
        width: 80%;
        .title {
          font-size: 4.5vw;
        }
        .subtitle {
          font-size: 23vw;
        }
      }
      p {
        width: 80%;
        font-size: 4vw;
      }
    }
    .button-explore {
      margin-bottom: 3em;
    }
  }
}
